<h1>Log in here</h1>

<%= render partial: 'layouts/errors', locals: {object: @user} %>
<div class = "flash_errors">
    <%= flash[:error] %>
</div>

<%= form_for @user, url: '/login' do |f| %>

    <div class = "form-group col-md-6">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>
    </div>

    <div class = "form-group col-md-6">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
    </div>

    <%= f.submit "Log In", class: 'btn btn-dark' %>

<% end %>