<h1>Log in here</h1>

<%= render partial: 'layouts/errors', locals: {object: @user} %>

<%= form_for@user, url: '/login' do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Log In" %>

<% end %>