<%= render partial: 'layouts/errors', locals: {object: task} %>

<%= form_for(task) do |f| %>
    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :done %>
    <%= f.check_box :done %>

    <br><br>
    <%= f.label :goal_id, "Assign to a goal" %>
    <%= f.collection_select :goal_id, @goals, :id, :name, prompt: true %>

    <% if !params[:goal_id] %>
        <div class = "new_form_attribute">
            <h4>Or add a new goal</h4>
            <%= f.fields_for :goal do |g| %>
                <%= g.label :name %>
                <%= g.text_field :name %>

                <%= g.label :accomplished %>
                <%= g.radio_button :accomplished, true %> Yes
                <%= g.radio_button :accomplished, false %> No

            <% end %>
        </div>
    <% end %>

    <%= f.submit %>
<% end %>