<h1>Edit task</h1>

<%= form_for(@task) do |f| %>
    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :done %>
    <%= f.check_box :done %>

    <%= f.label :goal %>
    <%= f.collection_select :goal_id, Goal.all, :id, :name, :accomplished %>

    <%= f.submit %>
<% end %>
