<h1>Sign up here</h1>

<%= form_for(@user) do |f| %>

    <div class = "error_list">
    <% @user.errors.full_messages.each do |error_message| %>
        <%= error_message %><br>
    <% end %>
    </div>
   
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Sign Up" %>

<% end %>