<h1>New Goal</h1>

<%= form_for(@goal) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :accomplished %>
    <%= f.radio_button :accomplished, true %>

    <%= f.submit "Create Goal" %>

<% end %>