<h2>Goal: <%= @goal.name %></h2>

<br>
<% if @goal.accomplished %>
        <% finished = "Yes" %>
    <% else %>
        <% finished = "No" %>
    <% end %>
    Accomplished? <%= finished %>
<br><br>

Tasks:<br>
<% @goal.tasks.each do |task| %>
    <%= task.description %><br>
<% end %>

<%= link_to "Edit Goal", edit_goal_path(@goal) %>

<%= link_to "Delete Goal", goal_path(@goal), method: :delete %>