<h2>Goal: <%= @goal.name %></h2>

<br>
<strong>Status: </strong>
<br>
<% if @goal.accomplished %>
        <%= 'Accomplished!' %>
    <% else %>
        In progress - <%= @goal.percent_complete %>% done
    <% end %>
<br><br>

<strong>Tasks:</strong><br>
<% @goal.tasks.each do |task| %>
    <div class = "<%= 'finished' if task.done %>">
        <%= link_to task.description, task_path(task) %>
    </div>
<% end %>
<br>

<%= link_to "New Task", new_goal_task_path(@goal), class: "btn btn-outline-dark" %>

<%= link_to "Edit Goal", edit_goal_path(@goal), class: "btn btn-outline-dark" %>

<%= link_to "Delete Goal", goal_path(@goal), method: :delete, class: "btn btn-outline-dark" %>