<h2>Goal: <%= @goal.name %></h2>

<br>
<strong>Status: </strong>
<br>
<% if @goal.accomplished %>
        <%= 'Accomplished!' %>
    <% else %>
        <%= 'In progress' %>
    <% end %>
<br><br>

<strong>Tasks:</strong><br>
<% @goal.tasks.each do |task| %>
    <div class = "<%= 'finished' if task.done %>">
        <%= task.description %><br>
    </div>
<% end %>
<br>

<%= link_to "Edit Goal", edit_goal_path(@goal) %>

<%= link_to "Delete Goal", goal_path(@goal), method: :delete %>